.spinner {
  display: flex;
  justify-content: center;
  width: 3rem; /* w-12 */
  height: 3rem; /* h-12 */
  margin: auto; /* m-auto */
  border: 4px solid #017cff; /* border-4 + border-emerald-500 */
  border-top-color: transparent; /* border-t-transparent */
  border-radius: 9999px; /* rounded-full */
  animation: spin 1s linear infinite; /* animate-spin */
}

.mainBox {
  background-color: black; /* bg-transparent */
  box-shadow: 2px 2px 2px #000;
  display: flex; /* flex */
  justify-content: center; /* justify-start */
  width: 50%; /* w-[300px] */
  height: 80px;
  margin-top: 1rem; /* mt-4 */
  margin-bottom: 3rem; /* mb-12 */
  border-radius: 1.5rem; /* rounded-3xl */
  padding: 0.5rem 1.5rem;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
