@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #b1c7cc;
  --text-color: #000000;
  --box-color: #ffffff;
  --timer-color: #101112;
  --cursor-color: #770077;
  --blinker: 0;
}

body {
  font-family: var(--font-poppins) !important;
  background: var(--bg-color);
  color: rgb(255, 242, 100);
}

[data-theme="dark"] {
  --bg-color: #1f1d27;
  --text-color: #ffffff;
  --box-color: #000000;
  --timer-color: #bfe9f4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

  .barbtn {
    @apply text-white cursor-pointer transition-transform duration-150 ease-in-out hover:scale-110 px-2 rounded-full text-sm hover:bg-purple-300 hover:text-black;
}
